<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  body {
    counter-reset: section;
  }  
  div {
    padding-left: 20px;
  }
  div::before {
    counter-increment: section;
    content: counter(section) ". ";
  }
  .header { border: 1px solid blue }
  .content { border: 1px solid green }
  .footer { border: 1px solid orange }
</style>
<body>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
  <div><%= locals.msg %></div>
</body>
</html>